.form {
    width: 100%;
    max-width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .registerText {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .registerLink {
    color: #aad3ff;
    text-decoration: none;
  }
  
  .registerLink:hover {
    text-decoration: underline;
  }
  