// .button {
//     width: 100%;
//     padding: 0.7rem;
//     font-size: 1.2rem;
//     color: #fff;
//     background-color: #aad3ff;
//     border: none;
//     border-radius: 25px;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
//     text-align: center;
//   }
  
//   .button:hover {
//     background-color: #82c2ff;
//   }
  

  .button {
    width: 100%;
    padding: 0.7rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #aad3ff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #82c2ff;
  }